body {
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #f4e3fd, #8618cf);
  margin: 0;
  background-image: url('./img/paisaje-anime-del-campo_8192x4560_xtrafondos.com.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    margin-bottom: 3%;
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(209, 159, 238, 0.308);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}
nav .menu{
    display: flex;
    gap: 2.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 5em;
}
nav .menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}

nav .menu li a:hover {
  color: #ffd6f0;
}
header a{
    text-decoration-style: none;
}

main{
    margin-top: 150px;
}

.titulo{
    padding: 120px 20px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
}
.titulo img{
  max-width: 300px;
  height: auto;
}
h1 {
  font-size: 6.5rem;
  text-align: right;
  font-weight: bold;
  color: #e9dfdf;
  margin-right: 5%;
  text-shadow: 8px 4px 16px black;
}

.contador{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.contador-container {
  background: #ebc0c04b;
  padding: 1rem 2rem;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.466);
  font-family: 'Dancing Script', cursive;
}

.contador-container p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #fdf7f7;
}

#days-counter {
  font-size: 2.9rem;
  font-weight: bold;
  color: #9f27ce;
  margin: 0.5rem 0;
}



.regalos{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

.card {
  background: #ebc0c04b;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  object-fit: cover;
}

.card-content {
  padding: 1rem;
  text-align: center;
}

.card-content h2 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #e2a0fc;
}

.card-content p {
  font-size: 0.95rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #9f27ce;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
  transition: background 0.3s ease;
}

.btn:hover {
  background: #ca7be9;
  border: 2px solid black;
}

footer {
  margin-top: 4rem;
  color: #fff;
  font-size: 1rem;
  padding: 35px;
  background-color: #6e3b81d5;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 900px) {
  h1 {
    font-size: 4rem;
    text-align: right;
  }
  .titulo img {
    max-width: 200px;
    }
  .titulo {
    margin-bottom: 0;
    justify-content: flex-end;
    text-align: right;
    gap: 1rem;
  }
  nav .menu{
    margin-right: 3%;
    gap: 3rem;
  }
  .cards{
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
  }
}
 .titulo{
	animation: slide-left 1.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
@keyframes bum {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.titulo img{
	animation: bum 1.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
}
@keyframes slide-in-fwd-bottom {
  0% {
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.card {
    animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}